@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:400,700|Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color:#EEE;
    font-family:'Quicksand', Helvetica, Arial;
    font-size:15px;
    display:flex;
    margin:0;
    min-height:100vh;
}

.camisas {
    display:none;
}

#cabecalho {
    background-color: #449ca8;
    height: 60px;
    width: 100%;
    position: absolute;
    text-align:right;
    justify-content:flex-end;
  }

.abrir-menu {
    width: 71px;
    height: auto;
    margin-top: -50px;
    margin-left: 95%;
    font-size: 26px;
    background-color: #9ad1ef;
    padding: 1px 5px;
    border-radius: 5px;
    cursor: pointer;
}

#imginicial{
    right: 755px;
    width: 175px;
    height: auto;
    position: relative;
    object-position: center;
  }

.abrir-menu span {
    margin-right:10px;
}

.menu-closer {
    width:32px;
    height:32px;
    display:none;
    font-size: 30px;
}

aside {
    background-color:#9ad1ef;
    width:0vw;
    font-family:'Quicksand';
    transition:all ease .2s;
    overflow-x:hidden;
}

aside.show {
    width:30vw;
}

.menu-area {
    padding:20px;
}

main {
    flex:1;
    padding:20px;
    margin-top:60px;
}

h1, h2 {
    font-family:'Quicksand';
    text-align: center;
    color: #000;
    font-weight: 900;
    margin-bottom: 30px;
}

.camisas-area {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.camisas-item {
    text-align: center;
    max-width:250px;
    font-family:'Quicksand';
    margin:0 auto 50px auto;
}

.camisas-item a {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}

.camisas-item-img {
    width:200px;
    height:200px;
    background-color:#EEE;
    border-radius:100px;
    box-shadow:0px 10px 50px rgba(0, 0, 0, 0.2);
}

.camisas-item-img img {
    width:100%;
    height:auto;
}

.camisas-item-add {
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:25px;
    background-color:rgb(80, 132, 163);
    text-align:center;
    color:#FFF;
    font-size:22px;
    cursor:pointer;
    margin-top:-25px;
    transition:all ease .2s;
}

.camisas-item a:hover .camisas-item-add {
    background-color:#22505e;
}

.camisas-item-preco {
    font-size:15px;
    color:#000000;
    margin-top:5px;
}

.camisas-item-nome {
    font-size:20px;
    font-weight: bold;
    color:#000;
    margin-top:5px;
}

.camisas-item-descricao {
    font-size:13px;
    color:#555;
    margin-top:10px;
}

.janelaCamisas {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}

.janelaBody {
    width:900px;
    background-color:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    margin:20px 0px;
}

.camisaBig {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.camisaBig--back {
    position:absolute;
    width:30px;
    height:30px;
    background-color:#000;
}

.camisaBig img {
    height:400px;
    width:auto;
}

.camisaInfo {
    flex:1;
    font-family:'Quicksand';
    padding-bottom:50px;
}

.camisaInfo h1 {
    margin-top:50px;
    margin-right:30px;
    color: #000;
}

.camisaInfo .camisaInfo-descricao {
    font-size:15px;
    color:#000000;
    margin-top:10px;
    margin-right:20px;
    font-family:'Lato',Helvetica,Arial;
}

.camisaInfo-setor {
    color:#CCC;
    text-transform: uppercase;
    font-size:14px;
    margin-top:30px;
    margin-bottom:10px;
}

.camisaInfo-tamanhos {
    display:inline-flex;
    border-radius:10px;
    overflow:hidden;
}

.camisaInfo-tamanho {
    padding:10px 15px;
    color:#000;
    background-color:#EEE;
    font-size:13px;
    font-weight: bold;
    cursor:pointer;
}

.camisaInfo-tamanho:hover {
    background-color:#CCC;
}

.camisaInfo-tamanho.selected {
    background-color:#363636;
    color:#FFF;
}

.camisaInfo-tamanho.selected span {
    color:#D6D6D6;
}

.camisaInfo-tamanho span {
    font-size:12px;
    color:#999;
    font-weight: normal;
}

.camisaInfo-preco {
    display:flex;
    align-items:center;
    color: #000;
}

.camisaInfo-precoAtual {
    font-size:28px;
    margin-right:30px;
}

.camisaInfo-areaQuantidade {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}

.camisaInfo-areaQuantidade button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}

.camisaInfo-quantidade {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}

.camisaInfo-botaoAdicionar {
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:rgb(80, 132, 163);
    color:black;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}

.camisaInfo-botaoAdicionar:hover {
    background-color:#22505e;
}

.camisaInfo-botaoCancelar {
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:rgb(80, 132, 163);
    color:black;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}

.camisaInfo-botaoCancelar:hover {
    background-color:#22505e;
}

.camisaInfo-cancelarmobile {
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
}

.menu {
    margin-bottom:20px;
}

.tela-compra {
    display:flex;
    align-items:center;
    margin:10px 0;
}

.tela-compra img {
    width:40px;
    height:40px;
    margin-right:20px;
}

.tela-compra-nome {
    flex:1;
    color: #000;
}

.tela-compra-qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}

.tela-compra-qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}

.tela-compra-quantidade {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}

.menu-itens {
    padding:15px 0;
    border-top:1px solid black;
    color:#315970;
    display:flex;
    justify-content: space-between;
    font-size:15px;
    color: #000;
}

.menu-itens span:first-child {
    font-weight: bold;
}

.menu-itens.total {
    font-size:20px;
    color:#000;
    font-weight: bold;
}

.menu-finalizar {
    padding:20px 30px;
    border-radius:20px;
    background-color:rgb(80, 132, 163);
    color:black;
    cursor:pointer;
    text-align:center;
    margin-top:20px;
    border:2px solid rgb(80, 132, 163);
    transition: all ease .2s;
    font-family: 'Quicksand';
    font-weight: bolder;
    font-size: larger;
}

.menu-finalizar:hover {
    background-color:#22505e;
}
